.move-button {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    background-color: var(--secondary-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.move-button:hover {
    background-color: rgb(190, 190, 190);
}