.single-new-arrival-container {
    background-color: black;
    color: var(--text-white);
    border-radius: 0.25rem;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 1.8rem;
    position: relative;
}

.single-new-arrival-container img {
    object-fit: contain;
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -1rem;
}
.single-new-arrival-container > div {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.single-new-arrival-container > div > div {
    margin: 0.4rem;
}

.single-new-arrival-container > div > div:nth-child(1) {
    font-family: "Inter-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.045rem;
}

.single-new-arrival-container > div > div:nth-child(2){
    font-family: "Poppins-Regular";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}