.sliding-image-card {
    position: relative;
}

.sliding-image-card img {
    width: 100%;
    height: 100%;
}

.sliding-image-card-buttons-wrapper {
    text-align: center;
}

.sliding-image-card-buttons {
    position: absolute;
    bottom: 4px;
}